.selector-for-some-widget {
    box-sizing: content-box;
  }

.rounded-circle{
    
    padding: 20px;
    float: left;
    height: 300px;
    width: 300px;

  }

#intro{
    padding: 20px;
}

.container{
    margin-top: 20px;
    border-color: aliceblue;

    
}
body{
    background-image: url(https://user-images.githubusercontent.com/81632698/118373323-de770100-b5d3-11eb-81fa-6339b2bbb57c.jpg);
    margin: 10px;
    
}

.row{
  padding: 25px ;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 10px;
  

}
